<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Gifme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="<%= stylesheet_path 'style' %>" />
  </head>
  <body>
    <form action="/" method="GET">
      <input name="s" type="search" class="search js-search" placeholder="Search" autofocus />
    </form>
    <ul class="thumbnails">
      <% Dir.glob("./public/gifs**{,/*/**}/*.{gif,png,jpg,jpeg}") do |item| %>
        <% item.slice! "./public/gifs/" %>
        <% item = CGI.escape(item) %>
        <li>
          <a class="thumbnails__item" href="<%= item %>">
            <video class="item__img js-thumb"
              data-name="<%= item %>"
              loop
              src="https://degif.imgix.net/<%= item %>?fm=mp4&w=350"
              poster="https://degif.imgix.net/<%= item %>?fm=jpg&q=25&w=350">
            </video>
            <p class="item__info">
              <%= item %>
            </p>
          </a>
        </li>
      <% end %>
    </ul>
    <script src="<%= javascript_path 'app' %>" async defer></script>
  </body>
</html>
